.nav-tabs {
  .nav-link {
    cursor: pointer;
    &.active {
      color: var(--primary-color);
      font-weight: 600;
    }
    &:hover {
      color: var(--secondary-color);
    }
  }
}

.nav-tabs {
  display: none;
}
.card .card-body {
  padding: 0 1.25rem;
}

@media (min-width: 768px) {
  .nav-tabs {
    display: flex;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display: none;
  }

  .card .collapse {
    display: block;
  }
}

@media (min-width: 320px) {
  .tab-pane {
    display: block !important;
    opacity: 1;

    .o-content-block {
      display: none;
      height: 0;
    }
    &.active .o-content-block {
      height: auto;
      min-height: 100px;
      transition: height 2s;
      display: block;
    }
    .card {
      margin: 0;
      border-bottom: none;
    }
  }
}
